<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode }}" dir="{{ default " ltr"
  .Site.Language.LanguageDirection }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="shortcut icon" type="image/png" href="{{ "favicon.ico" | relURL }}">
  {{ if .Params.keywords }}
  <meta name="keywords" content="{{ .Params.keywords }}">
  {{ end }}
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="Yhw2-p4-PevToU2ABB4dxkZa-sDC1WZlfaCg1D3l7BQ" />

</head>

<body {{ if not .IsHome }} {{ if eq .Type "docs" }}class="docs-page" {{ end }} {{ end }} {{ if .IsHome }}
  class="homepage" {{ end }} {{ if eq .Type "contact" }} class="contact-page" {{ end }} dir="{{ default " ltr" .Site.Language.LanguageDirection }}">

  {{ partial "docs/header" . }}
  <main class="flex mobile-padding-0">

    <div class="social-bar">
      <div class="rotate">
        {{ partial "docs/share-this" . }}
      </div>
    </div>

    <div class="book-page container">

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }}
      <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      {{ if .IsHome }}
        {{ partial "docs/convert-text" . }}
      {{ end }}

      {{ partial "docs/footer-top" . }}

    </div>
  </main>
  {{ partial "docs/footer" . }}


</body>

<script defer src="{{ "global.js" | relURL }}"></script>
{{ if .IsHome }}
  <script defer src="{{ "homepage.js" | relURL }}"></script>
{{ end }}


{{ if eq .Type "smallcaseconverter" }}
  <script defer src="{{ "small-case-converter.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "widecaseconverter" }}
  <script defer src="{{ "wide-text.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "strikethroughcaseconverter" }}
  <script defer src="{{ "strikethrough-text.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "reversecaseconverter" }}
  <script defer src="{{ "reverse-case.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "upsidedown" }}
  <script defer src="{{ "upside-down.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "morsecode" }}
  <script defer src="{{ "morse-code.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "binary" }}
  <script defer src="{{ "binary.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "titlecase" }}
  <script defer src="{{ "title-case.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "bold" }}
  <script defer src="{{ "bold.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "italic" }}
  <script defer src="{{ "italic.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "underline" }}
  <script defer src="{{ "underline.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "mirror" }}
  <script defer src="{{ "mirror.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "unicode" }}
  <script defer src="{{ "unicode.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "bubble" }}
  <script defer src="{{ "bubble.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "sentence" }}
  <script defer src="{{ "sentence.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "glitch" }}
  <script defer src="{{ "glitch.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "invisible" }}
  <script defer src="{{ "invisible.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "repeat" }}
  <script defer src="{{ "repeat.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "facebooktext" }}
  <script defer src="{{ "facebooktext.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "length" }}
  <script defer src="{{ "length.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "area" }}
  <script defer src="{{ "area.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "volume" }}
  <script defer src="{{ "volume.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "mass" }}
  <script defer src="{{ "mass.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "cmteditor" }}
  <script defer src="{{ "cmt.js" | relURL }}">
  </script>
  <script defer src="{{ "ceditor.js" | relURL }}"></script>
{{ end }}

<!-- Google tag (gtag.js) -->
<script async defer src="https://www.googletagmanager.com/gtag/js?id=G-Q4L7DEPJNP"></script>
<script async defer>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q4L7DEPJNP');
</script>

</html>

{{ define "main" }}
<article class="markdown">
  {{- .Content -}}
</article>
{{ end }}
