<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode }}" dir="{{ default " ltr"
  .Site.Language.LanguageDirection }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="shortcut icon" type="image/png" href="{{ "favicon.ico" | relURL }}">
  {{ if .Params.keywords }}
  <meta name="keywords" content="{{ .Params.keywords }}">
  {{ end }}
  {{ if not .IsHome }} 
  <script>
    // Get the current title of the page
    let pageTitle = document.title;

    // Function to trim title to 50 characters
    function trimTitle(title) {
      if (title.length > 50) {
        // Trim the title and add an ellipsis
        return title.substring(0, 47) + '...';
      } else {
        console.log('def')
        return title;
      }
    }

    // Trim the title
    let trimmedTitle = trimTitle(pageTitle);
    document.title = trimmedTitle;

    function trimText(text, maxLength) {
  if (text.length > maxLength) {
    return text.substring(0, maxLength - 3) + '...';
  } else {
    return text;
  }
}

// Get the current page description
let metaDescription = document.querySelector('meta[name="description"]');
let pageDescription = metaDescription ? metaDescription.getAttribute('content') : '';

// Trim the page description to 150 characters
let trimmedDescription = trimText(pageDescription, 150);

// Update the meta description with the trimmed version
if (metaDescription) {
  metaDescription.setAttribute('content', trimmedDescription);
}
  </script>
  {{ end }}
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="Yhw2-p4-PevToU2ABB4dxkZa-sDC1WZlfaCg1D3l7BQ" />

</head>

<body {{ if not .IsHome }} {{ if eq .Type "docs" }}class="docs-page" {{ end }} {{ end }} {{ if .IsHome }}
  class="homepage" {{ end }} {{ if eq .Type "contact" }} class="contact-page" {{ end }} dir="{{ default " ltr" .Site.Language.LanguageDirection }}">

  {{ partial "docs/header" . }}
  <main class="flex mobile-padding-0">

    <div class="social-bar">
      <div class="rotate">
        {{ partial "docs/share-this" . }}
      </div>
    </div>

    <div class="book-page container">

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }}
      <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}

      {{ if .IsHome }}
        {{ partial "docs/convert-text" . }}
      {{ end }}

      {{ if eq .Type "devtool" }}
        {{ partial "docs/devtools" . }}
      {{ end }}

      {{ if ne .Type "devtool" }}
      {{ partial "docs/footer-top" . }}
      {{ end }}

    </div>
  </main>
  {{ partial "docs/footer" . }}

  <div class="gtranslate_wrapper"></div>

</body>

<script defer src="{{ "global.js" | relURL }}"></script>
{{ if .IsHome }}
  <script defer src="{{ "homepage.js" | relURL }}"></script>
{{ end }}


{{ if eq .Type "smallcaseconverter" }}
  <script defer src="{{ "small-case-converter.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "widecaseconverter" }}
  <script defer src="{{ "wide-text.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "strikethroughcaseconverter" }}
  <script defer src="{{ "strikethrough-text.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "reversecaseconverter" }}
  <script defer src="{{ "reverse-case.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "upsidedown" }}
  <script defer src="{{ "upside-down.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "morsecode" }}
  <script defer src="{{ "morse-code.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "binary" }}
  <script defer src="{{ "binary.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "titlecase" }}
  <script defer src="{{ "title-case.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "bold" }}
  <script defer src="{{ "bold.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "italic" }}
  <script defer src="{{ "italic.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "underline" }}
  <script defer src="{{ "underline.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "mirror" }}
  <script defer src="{{ "mirror.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "unicode" }}
  <script defer src="{{ "unicode.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "bubble" }}
  <script defer src="{{ "bubble.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "sentence" }}
  <script defer src="{{ "sentence.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "glitch" }}
  <script defer src="{{ "glitch.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "invisible" }}
  <script defer src="{{ "invisible.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "repeat" }}
  <script defer src="{{ "repeat.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "facebooktext" }}
  <script defer src="{{ "facebooktext.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "length" }}
  <script defer src="{{ "length.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "area" }}
  <script defer src="{{ "area.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "volume" }}
  <script defer src="{{ "volume.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "mass" }}
  <script defer src="{{ "mass.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "devtool" }}
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script defer type="text/javascript" src="{{ "js/jquery-1.10.2.min.js" | relURL }}"></script>
  <script defer type="text/javascript" src="{{ "js/jquery.zclip.min.js" | relURL }}"></script>
  <script defer type="text/javascript" src="{{ "js/all.js" | relURL }}"></script>
  <script defer type="text/javascript" src="{{ "js/clipboard.js" | relURL }}"></script>
  <script defer type="text/javascript" src="{{ "js/jquery.base64.min.js" | relURL }}"></script>
  <script defer type="text/javascript" src="{{ "js/vkbeautify.js" | relURL }}"></script>
  <script defer type="text/javascript" src="{{ "js/ace.js" | relURL }}"></script>
  <script defer type="text/javascript" src="{{ "js/less-1.4.1.min.js" | relURL }}"></script>
  <!-- <script type="text/javascript" src="{{ "js/jquery.qrcode-0.6.0.min.js" | relURL }}"></script> -->
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <script defer type="text/javascript" src="{{ "devtool.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "cmteditor" }}
  <script>
    var cmteditormsg = document.getElementById("cmteditor");
    setTimeout(function() {
      cmteditormsg.innerHTML = "";
    }, 3000);

    setTimeout(load_cmtjs, 2800);
    setTimeout(load_cejs, 4000);
    function load_cmtjs() {
      var head_ID = document.getElementsByTagName("head")[0]; 
      // Create script element       
      var script_element = document.createElement('script');
      // Set the script type to JavaScript
      script_element.type = 'text/javascript';
      // External JS file
      script_element.src = "/cmt.js";
      head_ID.appendChild(script_element);
    }
    function load_cejs() {
      var head_ID = document.getElementsByTagName("head")[0]; 
      // Create script element       
      var script_element = document.createElement('script');
      // Set the script type to JavaScript
      script_element.type = 'text/javascript';
      // External JS file
      script_element.src = "/ceditor.js";
      head_ID.appendChild(script_element);
    }
  </script>
{{ end }}

<script>
  setTimeout(load_js, 4000); // Delay 4 seconds in loading function

  function load_js() {
      // Get the head tag
      var head_ID = document.getElementsByTagName("head")[0]; 
      // Create script element       
      var script_element = document.createElement('script');
      // Set the script type to JavaScript
      script_element.type = 'text/javascript';
      // External JS file
      script_element.src = 'https://www.googletagmanager.com/gtag/js?id=G-Q4L7DEPJNP';
      head_ID.appendChild(script_element);

      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q4L7DEPJNP');
  }
</script>

<script>
  setTimeout(load_gjs, 2800); // Delay 4 seconds in loading function
    function load_gjs() {
      window.gtranslateSettings = {"default_language":"en","native_language_names":true,"detect_browser_language":true,"languages":["en","zh-TW","zh-CN","fr","de","it","ja","ko","pt","es"],"wrapper_selector":".gtranslate_wrapper","switcher_horizontal_position":"right","alt_flags":{"en":"usa","es":"mexico"}}
      var head_ID = document.getElementsByTagName("head")[0]; 
      // Create script element       
      var script_element = document.createElement('script');
      // Set the script type to JavaScript
      script_element.type = 'text/javascript';
      // External JS file
      script_element.src = 'https://cdn.gtranslate.net/widgets/latest/float.js';
      head_ID.appendChild(script_element);
    }
</script>
<!-- Google tag (gtag.js) -->
<!-- <script async defer src="https://www.googletagmanager.com/gtag/js?id=G-Q4L7DEPJNP"></script>
<script async defer>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q4L7DEPJNP');
</script> -->

</html>

{{ define "main" }}
<article class="markdown">
  {{- .Content -}}
</article>
{{ end }}
