<!DOCTYPE html>
<html lang="{{ default .Site.Language.Lang .Site.LanguageCode }}" dir="{{ default " ltr"
  .Site.Language.LanguageDirection }}">

<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="shortcut icon" type="image/png" href="{{ "favicon.ico" | relURL }}">
  {{ if .Params.keywords }}
  <meta name="keywords" content="{{ .Params.keywords }}">
  {{ end }}
  <meta name="robots" content="index, follow">

</head>

<body {{ if not .IsHome }} {{ if eq .Type "docs" }}class="docs-page" {{ end }} {{ end }} {{ if .IsHome }}
  class="homepage" {{ end }} {{ if eq .Type "contact" }} class="contact-page" {{ end }} dir="{{ default " ltr" .Site.Language.LanguageDirection }}">
  <label class="hidden" for="menu-control">menu control</label>
  <input type="checkbox" class="hidden toggle" id="menu-control" />
  <label class="hidden" for="toc-control">Table of Contents</label>
  <input type="checkbox" class="hidden toggle" id="toc-control" />
  <header class="book-header container">
    {{ template "header" . }}
    <!-- Mobile layout header -->
  </header>
  {{ partial "docs/desktop-header" . }}
  <main class="container mobile-padding-0 {{ if not .IsHome }} flex {{ end }}">

    <div class="book-page">
      {{ if .IsHome }}
        {{ partial "docs/convert-text" . }}
      {{ end }}

      {{ if not .IsHome }}

      {{ partial "docs/inject/content-before" . }}
      {{ template "main" . }}
      <!-- Page Content -->
      {{ partial "docs/inject/content-after" . }}
      {{ end }}

    </div>
  </main>


  <!--Footer bottom containing navigation links-->
  <footer class="footer">
    {{ partial "docs/footer-navigation" . }}
  </footer>

  {{ partial "docs/inject/body" . }}
</body>

<script src="{{ "global.js" | relURL }}"></script>
{{ if .IsHome }}
  <script src="{{ "homepage.js" | relURL }}"></script>
{{ end }}


{{ if eq .Type "smallcaseconvertor" }}
  <script src="{{ "small-case-converter.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "widecaseconvertor" }}
  <script src="{{ "wide-text.js" | relURL }}"></script>
{{ end }}

{{ if eq .Type "strikethroughcaseconvertor" }}
  <script src="{{ "strikethrough-text.js" | relURL }}"></script>
{{ end }}

</html>

{{ define "menu" }}
{{ partial "docs/menu" . }}
{{ end }}

{{ define "header" }}
{{ partial "docs/header" . }}

{{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
<aside class="hidden clearfix">
  {{ template "toc" . }}
</aside>
{{ end }}
{{ end }}

{{ define "footer" }}
{{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
{{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
<div class="book-comments">
  {{- partial "docs/comments" . -}}
</div>
{{ end }}
{{ end }}

{{ define "main" }}
{{ if .IsHome }}
<div class="desktop-banner">{{ partial "docs/banner" . }}</div>
{{ end }}
<article class="markdown">
  {{- .Content -}}
</article>
{{ end }}

{{ define "toc" }}
{{ partial "docs/toc" . }}
{{ end }}