@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Bold.woff2') format('woff2'),
    url('Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Regular.woff2') format('woff2'),
    url('Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Gilroy';
  text-rendering: unset;
  -webkit-font-smoothing: unset;
  margin: 0;
  color: #313637;
  background-color: #f7f9fa;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  transition: background-size 0.2s,color 0.2s;
  text-decoration: none;
  color: #0d1214;
  background-color: transparent;
  background-image: linear-gradient(#2494db,#2494db);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0 0.1875rem;
  &:hover {
    color: #0d77b5;
  }
}

// CMT CSS

textarea {
  border: 1px solid #c2c2c2;
  border-top: 3px solid #c2c2c2;
  padding: 10px;
}

.textarea--controls textarea {
  width: 100%;
  height: 200px;
}

.textarea--controls textarea::placeholder {
  color: $white;
}

.actions {
  margin-top: 15px;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;

  button {
    cursor: pointer;
    padding: 4px 8px;
    font-weight: 600;
  }
}


#message.success {
    background-color: #dff0d8;
    color: #3c763d;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
}
#message.error {
    background-color: #f2dede;
    color: #a94442;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 4px;
}

.counts {
  margin-top: 15px;
}

.col--wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .col, .output--wrapper {
    flex: 0 calc(50% - 10px);

    textarea {
      width: 100%;
      height: 200px;
    }

    .output {
      width: 100%;
      min-height: 176px;
      margin-bottom: 15px;
      padding: 10px;
      border: 0;
      border: 1px solid #c2c2c2;
      border-top: 3px solid #c2c2c2;
      background: #fff;
      display: block;
      height: auto;
    }
  }
}

.copy {
  width: 14px;
}

#output.strike {
    text-decoration: line-through;
    font-family: sans-serif;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

/* Style for the "More Tools" button */
.more-tools {
    display: none;
    position: relative;
}

/* Show the submenu on hover */
.more-tools:hover .submenu {
    display: block;
}

/* Style for the submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}
