<div class="messages" id="message"></div>
<div class="col--wrapper">
    <div class="col">
        <textarea id="content" placeholder="Type or paste your content here" autofocus=""></textarea>
        <div class="row counts">Character Count:
            <span id="char_count">0</span>
            | Word Count: <span id="word_count">0</span>
            | Line Count: <span id="line_count">0</span>
            | Reading Time: <span id="reading_time">0</span> minutes
        </div>
    </div>

    <div class="output--wrapper">
        <div id="output" class="output">
            <p>𝔗𝔶𝔭𝔢 𝔬𝔯 𝔭𝔞𝔰𝔱𝔢 𝔶𝔬𝔲𝔯 𝔠𝔬𝔫𝔱𝔢𝔫𝔱 𝔥𝔢𝔯𝔢<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>𝕿𝖞𝖕𝖊 𝖔𝖗 𝖕𝖆𝖘𝖙𝖊 𝖞𝖔𝖚𝖗 𝖈𝖔𝖓𝖙𝖊𝖓𝖙 𝖍𝖊𝖗𝖊<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>Ⓣⓨⓟⓔ ⓞⓡ ⓟⓐⓢⓣⓔ ⓨⓞⓤⓡ ⓒⓞⓝⓣⓔⓝⓣ ⓗⓔⓡⓔ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>🅣🅨🅟🅔 🅞🅡 🅟🅐🅢🅣🅔 🅨🅞🅤🅡 🅒🅞🅝🅣🅔🅝🅣 🅗🅔🅡🅔<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>🅃🅈🄿🄴 🄾🅁 🄿🄰🅂🅃🄴 🅈🄾🅄🅁 🄲🄾🄽🅃🄴🄽🅃 🄷🄴🅁🄴<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>🆃🆈🅿🅴 🅾🆁 🅿🅰🆂🆃🅴 🆈🅾🆄🆁 🅲🅾🅽🆃🅴🅽🆃 🅷🅴🆁🅴<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>Tと尸ヨ 回尺 尸丹己卞ヨ と回凵尺 亡回几卞ヨ几卞 廾ヨ尺ヨ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>Tץקє ๏г קครՇє ץ๏ยг ς๏ภՇєภՇ ђєгє<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>Tყρҽ σɾ ραʂƚҽ ყσυɾ ƈσɳƚҽɳƚ ԋҽɾҽ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>Tʏքɛ օʀ քǟֆȶɛ ʏօʊʀ ƈօռȶɛռȶ ɦɛʀɛ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>TɎ₱Ɇ ØⱤ ₱₳₴₮Ɇ ɎØɄⱤ ₵Ø₦₮Ɇ₦₮ ⱧɆⱤɆ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>T𝕪ｐＥ σя ｐＡştＥ 𝕪σ𝕌я 𝓬σŇtＥŇt 𝓱ＥяＥ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>TʸⓅ𝐄 ㄖℝ Ⓟ𝒶𝕤𝓉𝐄 ʸㄖ𝓤ℝ 𝓬ㄖ𝓝𝓉𝐄𝓝𝓉 𝓗𝐄ℝ𝐄<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>Tꌦꉣꏂ ꄲꋪ ꉣꋬꇙ꓄ꏂ ꌦꄲ꒤ꋪ ꉔꄲꋊ꓄ꏂꋊ꓄ ꁝꏂꋪꏂ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>Tꐞꉣꈼ ꂦꌅ ꉣꁲꌚꋖꈼ ꐞꂦꐇꌅ ꀯꂦꋊꋖꈼꋊꋖ ꍩꈼꌅꈼ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>TYᑭE Oᖇ ᑭᗩᔕTE YOᑌᖇ ᑕOᑎTEᑎT ᕼEᖇE<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <p>𝒯𝓎𝓅ℯ ℴ𝓇 𝓅𝒶𝓈𝓉ℯ 𝓎ℴ𝓊𝓇 𝒸ℴ𝓃𝓉ℯ𝓃𝓉 𝒽ℯ𝓇ℯ<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>𝓣𝔂𝓹𝓮 𝓸𝓻 𝓹𝓪𝓼𝓽𝓮 𝔂𝓸𝓾𝓻 𝓬𝓸𝓷𝓽𝓮𝓷𝓽 𝓱𝓮𝓻𝓮<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <p>Ｔｙｐｅ&emsp;ｏｒ&emsp;ｐａｓｔｅ&emsp;ｙｏｕｒ&emsp;ｃｏｎｔｅｎｔ&emsp;ｈｅｒｅ<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
        </div>

        <div class="btn">
            <button id="download" class="btn" data-download-target="#output" data-download-type="innerText"
                style="display: inline-block;">Download Text</button>
            <button id="copy" class="btn" data-clipboard-target="#output">Copy to Clipboard</button>
        </div>
    </div>