<div class="messages" id="message"></div>
<div class="col--wrapper">
    <div class="col">
        <textarea id="content" placeholder="Type or paste your content here" autofocus="">
</textarea>
        <div class="row counts">Character Count:
            <span id="char_count">0</span>
            | Word Count: <span id="word_count">0</span>
            | Line Count: <span id="line_count">0</span>
            | Reading Time: <span id="reading_time">0</span> minutes
        </div>
    </div>

    <div class="output--wrapper">
        <div class="output" id="output">
            <h3>Small Caps</h3>
            <p class="small-caps">ᴛʏᴘᴇ ᴏʀ ᴘᴀꜱᴛᴇ ʏᴏᴜʀ ᴄᴏɴᴛᴇɴᴛ ʜᴇʀᴇ
                <img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Superscript</h3>
            <p class="superscript">ᵗʸᵖᵉ ᵒʳ ᵖᵃˢᵗᵉ ʸᵒᵘʳ ᶜᵒⁿᵗᵉⁿᵗ ʰᵉʳᵉ<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
        </div>

        <div class="btn">
            <button id="download" class="btn" data-download-target="#output" data-download-type="innerText"
                style="display: inline-block;">Download Text</button>
            <button id="copy" class="btn" data-clipboard-target="#output">Copy to Clipboard</button>
        </div>
    </div>