<div class="messages message" id="message"></div>
<div class="col--wrapper">
    <div class="col">
        <textarea id="content" placeholder="Type or paste your content here" autofocus="">
        </textarea>
        <div class="row counts">Character Count:
            <span id="char_count">0</span>
            | Word Count: <span id="word_count">0</span>
            | Line Count: <span id="line_count">0</span>
            | Reading Time: <span id="reading_time">0</span> minutes
        </div>
    </div>

    <div class="output--wrapper">
        <div id="output" class="output">
            <h3>Script</h3>
            <p>𝒯𝓎𝓅ℯ ℴ𝓇 𝓅𝒶𝓈𝓉ℯ 𝓎ℴ𝓊𝓇 𝒸ℴ𝓃𝓉ℯ𝓃𝓉 𝒽ℯ𝓇ℯ<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Script (Bold)</h3>
            <p>𝓣𝔂𝓹𝓮 𝓸𝓻 𝓹𝓪𝓼𝓽𝓮 𝔂𝓸𝓾𝓻 𝓬𝓸𝓷𝓽𝓮𝓷𝓽 𝓱𝓮𝓻𝓮<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Fraktur</h3>
            <p>𝔗𝔶𝔭𝔢 𝔬𝔯 𝔭𝔞𝔰𝔱𝔢 𝔶𝔬𝔲𝔯 𝔠𝔬𝔫𝔱𝔢𝔫𝔱 𝔥𝔢𝔯𝔢<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Fraktur (Bold)</h3>
            <p>𝕿𝖞𝖕𝖊 𝖔𝖗 𝖕𝖆𝖘𝖙𝖊 𝖞𝖔𝖚𝖗 𝖈𝖔𝖓𝖙𝖊𝖓𝖙 𝖍𝖊𝖗𝖊<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Circled</h3>
            <p>Ⓣⓨⓟⓔ ⓞⓡ ⓟⓐⓢⓣⓔ ⓨⓞⓤⓡ ⓒⓞⓝⓣⓔⓝⓣ ⓗⓔⓡⓔ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <h3>Circled (Inverted)</h3>
            <p>🅣🅨🅟🅔 🅞🅡 🅟🅐🅢🅣🅔 🅨🅞🅤🅡 🅒🅞🅝🅣🅔🅝🅣 🅗🅔🅡🅔<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Squared</h3>
            <p>🅃🅈🄿🄴 🄾🅁 🄿🄰🅂🅃🄴 🅈🄾🅄🅁 🄲🄾🄽🅃🄴🄽🅃 🄷🄴🅁🄴<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Squared (Inverted)</h3>
            <p>🆃🆈🅿🅴 🅾🆁 🅿🅰🆂🆃🅴 🆈🅾🆄🆁 🅲🅾🅽🆃🅴🅽🆃 🅷🅴🆁🅴<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Capitalized</h3>
            <p>Tʏᴘᴇ ᴏʀ ᴘᴀꜱᴛᴇ ʏᴏᴜʀ ᴄᴏɴᴛᴇɴᴛ ʜᴇʀᴇ<img src="{{ "svg/copy.svg" | relURL }}" class="copy" alt="Copy to Clipboard"></p>
            <h3>Full Width</h3>
            <p>Ｔｙｐｅ&emsp;ｏｒ&emsp;ｐａｓｔｅ&emsp;ｙｏｕｒ&emsp;ｃｏｎｔｅｎｔ&emsp;ｈｅｒｅ<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Monospace</h3>
            <p>𝚃𝚢𝚙𝚎 𝚘𝚛 𝚙𝚊𝚜𝚝𝚎 𝚢𝚘𝚞𝚛 𝚌𝚘𝚗𝚝𝚎𝚗𝚝 𝚑𝚎𝚛𝚎<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Sans-Serif</h3>
            <p>𝖳𝗒𝗉𝖾 𝗈𝗋 𝗉𝖺𝗌𝗍𝖾 𝗒𝗈𝗎𝗋 𝖼𝗈𝗇𝗍𝖾𝗇𝗍 𝗁𝖾𝗋𝖾<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Sans-Serif (Italic)</h3>
            <p>𝘛𝘺𝘱𝘦 𝘰𝘳 𝘱𝘢𝘴𝘵𝘦 𝘺𝘰𝘶𝘳 𝘤𝘰𝘯𝘵𝘦𝘯𝘵 𝘩𝘦𝘳𝘦<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Sans-Serif (Bold)</h3>
            <p>𝗧𝘆𝗽𝗲 𝗼𝗿 𝗽𝗮𝘀𝘁𝗲 𝘆𝗼𝘂𝗿 𝗰𝗼𝗻𝘁𝗲𝗻𝘁 𝗵𝗲𝗿𝗲<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
            <h3>Sans-Serif (Bold Italic)</h3>
            <p>𝙏𝙮𝙥𝙚 𝙤𝙧 𝙥𝙖𝙨𝙩𝙚 𝙮𝙤𝙪𝙧 𝙘𝙤𝙣𝙩𝙚𝙣𝙩 𝙝𝙚𝙧𝙚<img src="{{ "svg/copy.svg" | relURL }}" class="copy"
                    alt="Copy to Clipboard"></p>
        </div>

        <div class="btn">
            <button id="download" class="btn" data-download-target="#output" data-download-type="innerText"
                style="display: inline-block;">Download Text</button>
            <button id="copy" class="btn" data-clipboard-target="#output">Copy to Clipboard</button>
        </div>
    </div>